@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*STYLING THE NAVBAR SECTION */

.header {
    position: relative;
    width: 100%;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px;
    box-shadow: 0.6rem 0.5rem 4rem rgba(0, 0, 0, 0.3);
}

.logo-container {
    color: rgb(3, 2, 10);
    margin-left: 2rem;
}

.logo-container h1 span {
    font-size: 1.5rem;
}

.les {
    position: absolute;
    top: 0%;
    border-bottom: 1px solid black;
}

.mains {
    position: absolute;
    top: 32%;
    left: 4.39rem;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    
}

.sales {
    position: absolute;
    top: 60%;
    left: 8.5rem;
    border-left: 1px solid black;
    border-bottom: 1px solid black;   
}

.nav-menu{
    display: flex;
    margin-right: 2rem;
}

.nav-menu li {
    list-style: none;
    padding: 1rem;
    transition: border .4s;
}

.nav-menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}

.nav-menu li:hover {  
    border-radius: 50px;
    padding: .8rem;
    border: 1px solid rgb(3, 2, 10);
}

.hamburger {
    display: none;
}

/* MAKING THE NAVBAR RESPONSIVE */

@media(max-width: 56rem) {

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-right: 2rem;
        cursor: pointer;
    }
    
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgb(251, 251, 251);
        top: 5.2rem; 
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 6;
        padding-block: .5rem;
        opacity: 0;
        visibility: hidden;
    }

    .nav-menu li {
        margin: .5rem 0;
        width: 60%;
    }
    
    .nav-menu li:hover {  
        border-radius: 50px;
        padding: .8rem;
        border: 1px solid rgb(3, 2, 10);
    }

    .line {
        width: 2.1rem;
        height: 4px;
        transition: all .4s ease-in-out;
        background-color: black;
    }
    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .line:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu.active {
        opacity: 1;
        visibility: visible;
    }
}





/*STYLING THE HERO SECTION*/

.hero-section {
    height: 90vh;
    width: 100%;
    color: rgb(3, 2, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    background-color: rgb(242, 245, 245);
}

.hero-left {
    width: 50%;
    margin-left: 3rem;  
}

.hero-left h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.hero-secondary-heading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgb(132, 130, 130);

}

#sales {
    color: rgb(32, 4, 211);
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    padding-right: 2rem;

}

.hero-right {
    width: 50%;
    position: relative;

}

.hero-right img {
    width: 18rem;
    height: 16rem;
    border-radius: 5px;
}

.hero-image:hover {
    z-index: 4;
}

.hero-right .img-1 {
    position: absolute;
    top: -14rem;
    z-index: 1;
}

.hero-right .img-2 {
    position: absolute;
    top: 2rem;
    left: 4rem;
    z-index: 2;
}

.hero-right .img-3 {
    position: absolute;
    top: -8rem;
    right: 7rem;  
}

.btn {
    padding: .84rem 3.5rem;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgb(32, 4, 211);
    text-transform: uppercase;
    font-size: .8rem;
    color: white;
    margin-right: 2rem;
}

.btn:hover {
    color: rgb(3, 2, 10);
    background-color: white;
    border: 2px solid rgb(3, 2, 10);
    border-radius: 10px;

}

.btn-2 {
    padding: .7rem 2.4rem;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(3, 2, 10);
    text-transform: uppercase;
    font-size: .8rem;
    border: 2px solid rgb(3, 2, 10);  

}

.btn-2:hover {
    border: none;
    box-shadow: 1rem 1rem 10rem black;
    transform: translateY(2rem);
    padding: .9rem 2.4rem;

}

/* MAKING THE HERO-SECTION RESPONSIVE */

@media(max-width:88rem) {
    .hero-right img {
        width: 17rem;
        height: 16.5rem;
        border-radius: 5px;
    }

    .hero-right .img-1 {
        position: absolute;
        top: -12rem;
        left: 2rem;
        z-index: 1;
    }
   
    .hero-right .img-3 {
        right: 5rem;  
    }
}

@media(max-width:83.8rem) {

    .hero-right img {
        width: 16rem;
        height: 15.7rem;
    }  
}

@media(max-width:80rem) {

    .hero-right img {
        width: 15.8rem;
        height: 15.4rem;
    }

    .hero-right .img-3 {
        right: 4rem;  
    }

    .hero-left h1 {
        font-size: 2.8rem;
    }  
}

@media(max-width:77rem) {
    .hero-right img {
        width: 15.6rem;
        height: 15.3rem;
    }

    .hero-right .img-3 {
        right: 3.2rem;  
    }

    .hero-left h1 {
        font-size: 2.5rem;
    }  
}

@media(max-width:74rem) {

    .hero-right img {
        width: 15rem;
        height: 14.8rem;
    }
    .hero-right .img-1 {
        left: 1.8rem;
    }
    
    .hero-right .img-3 {
        right: 3rem;  
    }

    .hero-left h1 {
        font-size: 2.4rem;
        margin-bottom: .5rem;
    }

}

@media(max-width:71.2rem) {

    .hero-right img {
        width: 14.5rem;
        height: 14.6rem;
    }
}

@media(max-width:68.4rem) {

    .hero-left {
        width: 46%;
        margin-left: 2.5rem;  
    }
    
    .hero-left h1 {
        font-size: 2.5rem;
        margin-bottom: .5rem;
    }
    
    .hero-left p {
        font-size: 1.2rem;
        line-height: 1.4;
        margin-bottom: 2.5rem;
        padding-right: 1.9rem;
    }

    .hero-right img {
        width: 14rem;
        height: 14rem;
    }

    .hero-right .img-1 {
        left: 1.5rem;
    }

    .hero-right .img-3 {
        right: 2.8rem;  
    }
}

@media(max-width:65rem) {
    .hero-left {
        width: 46%;
        margin-left: 2.2rem;  
    }
    
    .hero-left h1 {
        margin-bottom: .5rem;
    }
    
    .hero-left p {
        font-size: 1.1rem;
        line-height: 1.3;
    }

    .hero-right img {
        width: 13.8rem;
        height: 13.7rem;
    }

    .hero-right .img-2 {
        top: 1.7rem;
    }
}


@media(max-width:62rem) {

    .hero-right .img-3 {
        right: 1.8rem;  
    }

    .hero-right .img-2 {
        width: 17rem;
        height: 16rem;
    } 
}
        

@media(max-width:60rem) {

    .hero-section {
        height: 132vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1rem;     
    }

    .btn {
        margin-right: 3rem;
    }

    .hero-left {
        width: 100%;
        height: 50%;
        text-align: center;
        padding: 8rem 3rem;
    }
    
    .hero-left h1 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
    
    .hero-left p {
        font-size: 1.3rem;
        line-height: 1.5;
        margin-bottom: 2.5rem;
        padding-right: 3rem;
    
    }

    .hero-right {
        width: 100%;
        text-align: center;
        height: 50%;
    }
    
    .hero-right img {
        width: 19rem;
        height: 18rem;
        border-radius: 5px;
    }
    
    .hero-image:hover {
        z-index: 5;
    }
    
    .hero-right .img-1 {
        top: -6rem;
        left: 19%;
        z-index: 3;
    }
    
    .hero-right .img-2 {
        top: 11.5rem;
        left: 16rem;
    }
    
    .hero-right .img-3 {
        top: -.4rem;
        right: 10.8rem;  
    }
}

@media(max-width:55rem) {

    .hero-right img {
        width: 17.6rem;
        height: 17.2rem;
    }

    .hero-right .img-2 {
        top: 11rem;
        left: 15rem;
    }

    .hero-left {
        padding: 6rem 2rem;
    }
}

@media(max-width:53rem) {

    .hero-right img {
        width: 17rem;
        height: 17rem;
    }

    .hero-right .img-2 {
        top: 11rem;
        left: 13rem;
    }

    .hero-right .img-3 {
        right: 10rem;  
    }    
}

@media(max-width:50rem) {

    .hero-right img {
        width: 16rem;
        height: 16rem;
    }

    .hero-right .img-2 {
        top: 9.7rem;
    }
    .hero-left {
        width: 100%;
        height: 50%;
        text-align: center;
        padding: 6rem 2rem;
    }
}

@media(max-width:47rem) {
    
    .hero-right img {
        width: 16rem;
        height: 16rem;
    }

    .hero-right .img-2 {
        top: 10rem;
        left: 11rem;
    }

    .hero-right .img-3 {
        top: -1rem;
        right: 7.5rem;
    }

    .hero-right .img-1 {
        top: -5.5rem;
    }

}
@media(max-width:44rem) {

    .hero-right img {
        width: 15rem;
        height: 15rem;
    }
    .hero-right .img-1 {
        top: -7rem;
    }
    .hero-right .img-2 {
        top: 6.5rem;
        left: 11rem;
    }
    .hero-right .img-3 {
        top: -2rem;
        right: 8rem;
    }

    .hero-left {
        padding: 5rem 1rem;
    }

    .hero-left h1 {
        font-size: 2.2rem;
    }
    
    .hero-left p {
        font-size: 1.2rem;
        line-height: 1.4;   
    }
}

@media(max-width:40rem) {
    .hero-left h1 {
        font-size: 2rem;
    }

    .hero-left p {
        font-size: 1.1rem;
        line-height: 1.3;   
    }

    .hero-right img {
        width: 15rem;
        height: 15rem;
    }

    .hero-right .img-1 {
        left: 13%;
    }

    .hero-right .img-2 {
        top: 7.5rem;
        left: 8.5rem;
    }

    .hero-right .img-3 {
        top: -2rem;
        right: 5rem;
    }
}

@media(max-width:36rem) {

    .hero-left p {
        font-size: 1.1rem;
        line-height: 1.4;   
    }

    .hero-left {
        padding: 6rem .1rem;
    }

    .hero-right img {
        width: 15rem;
        height: 15rem;
    }

    .hero-right .img-1 {
        left: 9%;
    }

    .hero-right .img-2 {
        top: 6rem;
        left: 6rem;
    }

    .hero-right .img-3 {
        top: -3rem;
        right: 2rem;
    }
}

@media(min-width:28rem) and (max-width:32rem) {

    .hero-right img {
        width: 14rem;
        height: 14rem;
    }
    .hero-right .img-1 {
        left: 6.5%;
    }
    .btn {
        margin-left: -1.5rem;
    }
}

@media(min-width:25rem) and (max-width:28rem) {
    .btn {
        margin-left: -2rem;
        margin-right: 1.8rem;
    }

    .hero-left {
        padding: 4.5rem .1rem;
    }

    .hero-left h1 {
        margin-left: -3rem; 
    }
    .hero-left p {
        font-size: 1rem;
        text-align: justify; 
    }
    .hero-secondary-heading {
        margin-left: -3rem;
    }

    .hero-right .img-2 {
        top: 7rem;
        left: 4rem;
    }
}

@media(min-width:23rem) and (max-width:25rem) {

    .hero-left h1 {
        margin-left: -3rem;
    }

    .btn {
        margin-right: 1.7rem;
        margin-left: -1.7rem;
    }

    .hero-left {
        padding: 2rem .5rem;
        text-align: center;
    }

    .hero-left p {
        font-size: 1rem;
        text-align: justify; 
    }

    .hero-right .img-2 {
        top: 7rem;
        left: 3.5rem;
    }
}

@media(min-width:21rem) and (max-width:23rem) {
    .hero-left {
        padding: 3rem .5rem;
    }
    .hero-left h1 {
        margin-left: -2rem;
    }
    .hero-left h3 {
        margin-left: -2rem;
    }

    .hero-left p {
        text-align: justify;

    }

    .btn {
        margin-right: 1rem;
        margin-left: -1.7rem;
    }

    .hero-right img {
        width: 13rem;
        height: 13rem;
    }

    .hero-right .img-1 {
        left: 5.7%;
    }

    .hero-right .img-2 {
        top: 5rem;
        left: 3.4rem;
    }

    .hero-right .img-3 {
        top: -3rem;
        right: 1.3rem;
    }
}


/* STYLING THE SOCIAL-PROOF SECTION */


.social-proof-section {
    width: 100%;
    height: 12rem;
    margin-top: -1rem;
    background-color: rgb(242, 245, 245);
    
}

.social-proof-heading {
    text-align: center;
    text-transform: uppercase;
}

.social-proof-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.contrat {
    width: 16rem;
    text-align: center;
    padding: 1.3rem 1.5rem;
    border-radius: 10px;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, .2);   
}

.contrat h3 {
    text-transform: uppercase;
    padding-bottom: .8rem;
}

.number {
    text-transform: uppercase;
    font-size: 1.7rem;
}

/* MAKING THE SOCIAL PROOF SECTION RESPONSIVE */

@media(max-width: 75rem) {
    .social-proof-section {
        height: 14rem;
    }

    .social-proof-container {
    gap: 2.3rem;
    }

    .contrat {
    width: 15rem;
    }
}

@media(max-width: 68rem) {
    .social-proof-section {
        height: 14rem;
    }

    .social-proof-container {
        gap: 2.5rem;
    }

    .contrat {
        width: 14rem;
        padding: 1.2rem 1.4rem;
    }
}

@media(max-width: 64.5rem) {
    .social-proof-container {
        gap: 2rem;
    }

    .contrat {
        padding: 1rem 1.4rem;
    }
    .contrat h3 {
        padding-bottom: .5rem;
    }

    .number {
        text-transform: uppercase;
        font-size: 1.5rem;
    }
}

@media(max-width: 62rem) {

    .social-proof-container {
        gap: 1.2rem;
    }
    .contrat {

        padding: 1rem 1rem;
    }
}
@media(max-width: 60rem) {

    .social-proof-section {
        margin-top: -1rem;
        height: 18rem;
    }
    .social-proof-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        place-content: center;
        gap: 2rem 5rem;
    }

    .contrat {
        width: 18rem;
        text-align: center;
        padding: 1.3rem 1.5rem;
    }
}

@media(max-width: 43rem) {
    .social-proof-container {
        gap: 1.5rem 2rem;
    }
    .contrat {
        width: 16rem;
        padding: 1.3rem 1rem;
    }
}

@media(max-width: 35rem) {
    .social-proof-container {
        gap: 1rem 1.5rem;
    }
    .contrat {
        width: 15rem;
        padding: 1.3rem 1rem;
    }
}

@media(max-width: 32rem) {
    .social-proof-section {
        height: 34rem;
    }
    .social-proof-container {
        gap: 2rem 1.5rem;
        grid-template-columns: auto;
    }

    .contrat {
        width: 17rem;
    }
}



/* BUILDING THE SERVICES SECTION */

.services {
    width: 100%;
    height: 100vh;
    color: white;
}

.services-container {
    width: 100%;
    height: 70vh;   
}

.services-top {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)),
        url("./images/IMG-20230426-WA0025.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;     
}

.services-top h1 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 4rem;
    font-size: 2rem;
    font-family: 'Bruno Ace SC', cursive;
}

.top-details {
    padding: 2rem 10rem;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5; 
}

.services-bottom {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    place-items: center;
    gap: 1rem;
}

.service {
    width: 23rem;
    height: 23rem;
    background-color: white;
    box-shadow: .5rem .8rem 2rem rgba(2, 1, 1, .4);
    color: #000;
    text-align: center;
    margin-top: -8rem;
    border-radius: 4px;
}

.service-heading {
    font-size: 2rem;
    padding: 2rem 1rem;
    color: rgb(63, 60, 60);
}

.service-details-container {
    width: 60%;
    margin-bottom: 3rem;
    position: relative;
}

.service-details {
    font-size: 1.2rem;
    color: rgb(102, 98, 98);
    font-weight: 600;
    list-style: none;
    margin-bottom: 1.5rem;
    text-align: center;
    border-bottom: 1px solid black;
    transform: translateX(33%);

}

.service-button {
    margin-block: 3rem;
    padding: .7rem 3.5rem;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgb(25, 5, 159);
    text-transform: uppercase;
    font-size: .8rem;
    color: white;
}

/* MAKING THE SERVICES SECTION RESPONSIVE */

@media(max-width:73rem) {
    .services-bottom {
        gap: 2rem;
    }
    
    .service {
        width: 20rem;
        height: 20rem;
    }
}

@media(max-width:65rem) {
    .services {
       margin-bottom: 25rem;
    }

    .top-details {
        padding: 2rem 6rem;
    }

    .services-bottom {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 2fr);
        
    }

    .service {
        width: 20.5rem;
        height: 22rem;
    }

    .service-3 {
        position: absolute;
        top: 170%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width:47rem) {
    .services {
       margin-bottom: 20rem;
    }

    .service {
        width: 19rem;
        height: 20rem;
    }

    .service-3 {
        top: 180%;
    }
}

@media(max-width:43rem) {
    .services {
       margin-bottom: 39rem;
    }
    
    .top-details {
        padding: 2rem 6rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.5; 
    }

    .services-bottom {
        margin-top: -5rem;
        display: grid;
        grid-template-columns: auto;
        gap: 9rem;        
    }

    .service {
        width: 22rem;
        height: 21rem;
    }

    .service-3 {
        position: absolute;
        top: 126%;
    }
}

@media(min-width: 26rem) and (max-width:31rem){
    .services {
        margin-bottom: 40rem;
    }
    .service-heading {
        font-size: 1rem;
        padding: 1rem 1rem;
        color: rgb(63, 60, 60);
    }
    .services-bottom {
        margin-top: -4rem;
        
    }

    .top-details {
        padding: 1rem 2rem;
        text-align: justify;      
    }
}

@media(min-width: 22rem) and (max-width:26rem){
    .services {
        margin-bottom: 43rem;
    }
    .services-bottom {
        margin-top: -2rem;
        
    }
    .top-details {
        padding: 1rem 1rem;
        text-align: justify;      
    }
}

@media(min-width: 21rem) and (max-width:23.9rem){
    .services {
        margin-bottom: 46rem;
    }

    .service-heading {
        padding: 1rem .5rem;
    }
    .services-bottom {
        margin-top: 3.5rem;
    }

    .service {
        width: 20rem;
        height: 20rem;
    }

    .top-details {
        padding: 1rem 1rem;
        text-align: justify;      
    }
}

/* STYLING THE SWIPER SECTION */

.swiper-section {
    margin-top: 8rem;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    background-color: rgb(225, 225, 229);
}

.swiper {
    padding: 3rem 1.5rem 0 0;
    width: 50%;
    height: 80%;
    position: relative;

}

.swiper-slide img {
    width: 34rem;
    border-radius: 10px;
}

.swiper-button-prev {
    display: none;
}

.swiper-button-next { 
    display: none;   
}

.swiper-btn {
    padding: .7rem 2.4rem;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(3, 2, 10);
    text-transform: uppercase;
    font-size: .8rem;
    border: 2px solid rgb(3, 2, 10);

}
.swiper-btn:hover {
    color: white;
    background-color: rgb(3, 2, 10);
}
/* MAKING THE SWIPER SECTION RESPONSIVE */

@media(max-width: 71.5rem) {

    .swiper-slide img {
        width: 30rem;
        border-radius: 10px;
    }
}

@media(max-width: 63.5rem) {
    .swiper-section {
        height: 100vh;
    }

    .swiper {
        width: 60%;
        height: 70%;
        padding-left: 5rem;   
    }

    .swiper-slide img {
        width: 27rem;
    }
}

@media(max-width: 63.5rem) {

    .swiper {
        width: 75%;
        height: 70%;
        padding-left: 10rem;   
    }

    .swiper-slide img {
        width: 24rem;
    }
}

@media(max-width: 60rem) {

    .swiper {
        width: 70%;
        height: 70%;
        padding-left: 8rem;   
    }

}

@media(max-width: 50rem) {

    .swiper {
        padding-left: 7rem;   
    }

}

@media(max-width: 48rem) {

    .swiper {
        width: 75%;
        height: 70%;
        padding-left: 6rem;   
    }
}

@media(max-width: 43rem) {

    .swiper {
        width: 85%;
        height: 70%;
        padding-left: 6rem;   
    }
}

@media(max-width: 38rem) {

    .swiper {
        width: 90%;
        height: 70%;
        padding-left: 4rem;   
    }
}

@media(max-width: 33.5rem) {

    .swiper-section {
        height: 90vh;
        margin-bottom: 13rem;
    }

    .swiper {
        width: 100%;
        height: 80%;
        padding-left: 6rem;   
    }

    .swiper-slide img {
        width: 22rem;
    }
}

@media(max-width: 31rem) {

    .swiper {
        padding-left: 5rem;   
    }

}

@media(max-width: 28rem) {
    .swiper-slide img {
        width: 20rem;
    }
}

@media(max-width: 26rem) {

    .swiper {
        padding-left: 4rem;   
    }

    .swiper-slide img {
        width: 20rem;
    }
}

@media(max-width: 24rem) {

    .swiper-section {
        margin-bottom: 17rem;
    }

    .swiper {
        padding-left: 4rem;   
    }

    .swiper-slide img {
        width: 19rem;
    }
}

/* STYLING THE FORMATION SECTION   */

.formation-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  
}

.formation-left {
    width: 50%;
    margin-left: 4rem;  
}

.formation-right {
    width: 50%;
}

.training-image {
    width: 34rem;
    border-radius: 7px;

}

.formation-heading {
    margin-bottom: 3rem;
    font-size: 3rem;
    color: rgb(27, 7, 102);
}

.formation-details {
    font-size: 1.2rem;
    line-height: 1.9;
    margin-bottom: 3rem;
}

.formation-btn {
    margin-block: 3rem;
    padding: .9rem 3.5rem;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgb(10, 29, 193);
    text-transform: uppercase;
    font-size: .8rem;
    color: white;
}

/* MAKING THE FORMATION SECTION RESPONSIVE */

@media(max-width:78.5rem) {
    .training-image {
        width: 30rem;
    }

    .formation-heading {
        margin-bottom: 2.5rem;
        font-size: 2.7rem;
    }
    
    .formation-details {
        font-size: 1.2rem;
        line-height: 1.9;
        margin-bottom: 2.5rem;
    }
}
@media(max-width:69rem) {
    .formation-heading {
        margin-bottom: 1.8rem;
        font-size: 2.5rem;
    }
    .training-image {
        width: 28rem;
    }
}
@media(max-width:64rem) {
    .formation-heading {
        margin-bottom: 1.8rem;
        font-size: 2.5rem;
    }
    .formation-details {
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 2rem;
    }
    .training-image {
        width: 26rem;
    }
}
@media(max-width:59rem) {
    .formation-heading {
        margin-bottom: 1.4rem;
        font-size: 2rem;
    }
    .formation-details {
        text-align: justify;
        font-size: 1.1rem;
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    .training-image {
        width: 23rem;
    }
}

@media(max-width:54rem) {
 
    .formation-heading {
        margin-bottom: 1.2rem;
        font-size: 1.7rem;
    }

    .formation-container {
        height: 70vh;
        gap: 2rem;
    }
    .training-image {
        width: 21rem;
    }
    .formation-left {
        margin-left: 2rem;  
    }
    .formation-details {
        font-size: 1rem;
    }
}

@media(max-width:51rem) {
    .formation-left {
        width: 100%;
        text-align: center;
        margin-left: .1rem;
    }
    
    .formation-right {
        width: 100%;
        text-align: center;
    }

    .formation-container {
        height: 100vh;
        flex-direction: column;
        gap: 5rem;
    }
    
    .formation-heading {
        margin-bottom: 1.5rem;
        font-size: 2.3rem;
    }

    .formation-details {
        font-size: 1.2rem;
        line-height: 1.6;
        padding-inline: 3rem;
      
    }
    .training-image {
        width: 28rem;
    }
}

@media(max-width:32rem) {

    .formation-section{
        margin-top: -10rem;
        margin-bottom: 3rem;
    }
    .training-image {
        width: 26rem;
        margin-top: -1rem;
    }

}

@media(max-width:27rem) {

    .formation-section{
        margin-top: -10rem;
        margin-bottom: 3rem;
    }
    .formation-container {
        height: 110vh;
        flex-direction: column;
        gap: 5rem;
    }
    .formation-details {
        line-height: 1.4;
        padding-inline: 1.5rem;
    }
    .training-image {
        width: 24rem;
        margin-top: -1rem;
    }
}

@media (max-width:24rem) {

    .training-image {
        width: 22rem;
    }
}

@media (max-width:22.6rem) {

    .training-image {
        width: 21rem;
    }
    .formation-details {
        font-size: 1rem;
        margin-bottom: 2.3rem;
    }
}

/* STYLING THE FORMATION-PLUS SECTION */

.formation-plus {

    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    gap: 0;
    margin-bottom: 4rem;
    background-color: rgb(225, 225, 229)
}

.formation-plus-left {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 50%;
    height: 90%;
    position: relative;
 
}

.image-1 {
    position: absolute;
    top: 20%;
    left: 20%;
}

.image-2 {
    position: absolute;
    top: 40%;
    left: 33.8%;
}

.formation-plus-image {
    width: 29.5rem;
    border-radius: 10px;
}


.formation-plus-right {
    margin-top: 8rem;
    width: 50%;
    height: 70%;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(
        to right,
        rgba(10, 29, 193, .9),
        rgba(41, 59, 225, .9)
        ),
        url("./images/IMG-20230427-WA0023.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%; 

}

.form-plus-heading {
    padding-top: 4rem;
    text-transform: uppercase;
}

.form-plus-details {
    padding-inline: 2rem;
    margin: 3rem;
    font-size: 1rem;
    line-height: 1.6;
}

.formation-plus-btn {
    padding: .9rem 2.4rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    border: 1px solid white;
}

/* MAKING THE FORMATION-PLUS SECTION RESPONSIVE */
@media(max-width:87rem) {

    .formation-plus-image {
        width: 28.5rem;
    }
}

@media(max-width:82rem) {

    .formation-plus-image {
        width: 27rem;
    }
}

@media(max-width:74rem) {

    .formation-plus-image {
        width: 26rem;
    }
}

@media(max-width:70rem) {

    .formation-plus-image {
        width: 23rem;
    }
}

@media(max-width:63rem) {

    .formation-plus {
        height: 80vh;
    }
    .formation-plus-image {
        width: 20rem;
    }
    .form-plus-heading {
        padding-top: 4rem;
        font-size: 1rem;
        padding-inline: 1rem;
    }
    
    .form-plus-details {
        padding-inline: 2rem;
        margin: 2.5rem 1rem;
        font-size: 1rem;

    }
}

@media(max-width:57rem) {

    .formation-plus {
        height: 70vh;
    }
    .formation-plus-image {
        width: 19rem;
    }
}

@media(max-width:53rem) {

    .formation-plus {
        height: 70vh;
    }
    .formation-plus-image {
        width: 19rem;
    }
}

@media(max-width:51rem) {

    .formation-plus {
        height: 100vh;
        flex-direction: column;
    }

    .formation-plus-left {
        margin-left: .1rem;
        width: 80%;
        height: 50%;
        text-align: center;  
    }

    .image-1 {
        position: absolute;
        top: 20%;
        left: 60%;
    }
    
    .image-2 {

        position: absolute;
        top: 40%;
        left: 33.8%;
    }

    .formation-plus-right {
        margin-top: 8rem;
        width: 100%;
    }

    .formation-plus-image {
        width: 25.5rem;
    }
}

@media(max-width:40rem) {

    .formation-plus-image {
        width: 25.5rem;
    }
}

@media(max-width:37rem) {

    .formation-plus-image {
        width: 24.5rem;
    }
}

@media(max-width:37rem) {

    .formation-plus-image {
        width: 24.5rem;
    }
}

@media(max-width:33rem) {
    
    .formation-plus {
        height: 110vh;
    }

    .formation-plus-image {
        width: 18rem;
    }
}

@media(max-width:24rem) {
    
    .formation-plus {
        height: 110vh;
    }

    .formation-plus-left {
        margin-left: 1rem;
        width: 60%;
        height: 50%;
        text-align: center;  
    }

    .formation-plus-right {
        margin-top: 4rem;
        width: 100%;
    }

    .form-plus-details {
        padding-inline: 1rem;
        margin: 2.5rem 1rem;
        font-size: 1rem;

    }

    .formation-plus-image {
        width: 17rem;
    }
}

@media(max-width:23rem) {
    
    .formation-plus {
        height: 110vh;
    }
    .formation-plus-left {
        margin-left: 1.3rem;
        width: 50%;
    }
    .formation-plus-image {
        width: 16rem;
    }
}



/* STYLING THE FORMATION-IMAGES-SECTION */

.formation-images-section {
    width: 100%;
}

.formation-images-container {
    padding-block: 1.5rem;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem; 
    padding-inline: 1.5rem;
 
}

.formation-image {
    width: 28rem;
    border-radius: 10px;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .2);
    transition: transform .5s linear;
}
.formation-images-container img:hover {
    transform: scale(1.1);
}

/* MAKING THE FORMATION-IMAGES-SECTION RESPONSIVE */
@media(max-width:89rem) {

    .formation-image {
        width: 26rem;
    }
}

@media(max-width:83rem) {

    .formation-image {
        width: 23rem;
    }
}

@media(max-width:74rem) {
    .formation-images-container {
        padding-left: 2rem;
    }
    .formation-image {
        width: 21rem;
    }
}

@media(max-width:68.5rem) {

    .formation-images-container {
        padding-right: 1.5rem;
    }
    .formation-image {
        width: 20rem;
    }
}

@media(max-width:68.5rem) {

    .formation-images-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        padding-left: 3.5rem;
    }
    .last-image {
        display: none;
    }
    .formation-image {
        width: 28rem;
    }
}

@media(max-width:63rem) {

    .formation-images-container {
        padding-left: 2rem;
    }

}

@media(max-width:58.25rem) {
    .formation-image {
        width: 25rem;
    }
}

@media(max-width:52.38rem) {
    .formation-images-container {
        padding-left: 2rem;
    }

    .formation-image {
        width: 23rem;
    }
}


@media(max-width:51rem) {
    .formation-images-container {
        padding-left: 1rem;
    }
}

@media(max-width:48.25rem) {
    .formation-images-container {
        padding-left: 1.8rem;
    }

    .formation-image {
        width: 21rem;
    }
}

@media(max-width:45.5rem) {
    .formation-images-container {
        padding-left: 1.8rem;
    }

    .formation-image {
        width: 20rem;
    }
}

@media(max-width:45.5rem) {
    .formation-images-container {
        padding-left: 1.8rem;
    }

    .formation-image {
        width: 18rem;
    }
}

@media(max-width:39rem) {
    .formation-images-container {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1rem;
        place-content: center;
        place-items: center;
    }
    .formation-image {
        width: 27rem;
    }
}

@media(max-width:30rem) {
    .formation-image {
        width: 24rem;
    }
}

@media(max-width:26rem) {

    .formation-images-container {
        padding-left: 1.5rem;
    }
    .formation-image {
        width: 23rem;
    }
}

@media(max-width:24rem) {
    .formation-image {
        width: 21rem;
    }
}

@media(max-width:22.40rem) {
    .formation-image {
        width: 19.5rem;
    }
}


/* STYLING THE TESTIMONIALS SECTION */
.testimonials-section {

    margin-top: 5rem;
    width: 100%;
    position: relative;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .09;
    background-color: rgba(255, 255, 255, .9);
    overflow: hidden;
}

.bg-video-content {

    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.testimony-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 3rem;
}

.testimony-image-box {
    padding: 1.5rem;
}

.testimony-image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    transform: rotate(-10deg) skewY(10deg);
}

.testimony {
    margin-block: 2rem;
    width: 65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .2);
    transform: rotate(10deg) skewY(-10deg);
}

.testimony-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.testimony-heading {
    font-size: 1.1rem;
    text-transform: uppercase;
    transform: rotate(-10deg) skewY(10deg);

}

.testimony-text p {

    color: rgb(36, 33, 33);
    padding-left: .7rem;
    transform: rotate(-10deg) skewY(10deg);
}

.witness-name {

    color: rgb(27, 7, 102);
    margin-top: -2rem;
    padding-left: .7rem;
    transform: rotate(-10deg) skewY(10deg);
}

/* MAKING THE TESTIMONY SECTION REPONSIVE */

@media (max-width: 74rem) {

    .testimony-container {
        gap: 1rem;
    }
    .testimony {
        margin-block: 2rem;
        width: 60rem;
    }

}
@media (max-width: 67rem) {

    .testimony-container {
        gap: 1rem;
    }
    .testimony {
        width: 55rem;
    }
}

@media (max-width: 62rem) {

    .testimony-text {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .testimony-heading {
        font-size: 1rem;
    }
    
    .testimony {
        width: 50rem;
    }
    .testimony p {
        font-size: 1rem;
    }
}

@media (max-width: 56rem) {

    .testimony-container {
        gap: .3rem;
    }

    .testimony {
        width: 44rem;
    }

    .witness-name {
        font-size: 1.2rem;
    }
    .testimony-image-box {
        padding: 1.3rem;
    }
    
    .testimony-image {
        width: 11rem;
        height: 11rem;
    }

}

@media (max-width: 50rem) {

    .testimony {
        width: 40rem;
    }
    .testimony-image-box {
        padding: 1.1rem;
    }
    .testimony-image {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 46rem) {

    .testimony-image-box {
        padding: 1.5rem;
    }
    
    .testimony-image {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        transform: rotate(0deg) skewY(0deg);
    }
    
    .testimony {
        width: 28rem;
        flex-direction: column;
        box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, .2);
        transform: rotate(0deg) skewY(0deg);
        text-align: center;
        border-radius: 7px;
    }
    
    .testimony-text {
        
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 1rem;
    }
    
    .testimony-heading {
        font-size: 1.1rem;
        transform: rotate(0deg) skewY(0deg);
        padding-inline: 1rem;
    
    }
    
    .testimony-text p {
    
        color: rgb(36, 33, 33);
        padding-left: .7rem;
        transform: rotate(0deg) skewY(0deg);
        text-align: justify;
        padding-inline: 2rem;
    }
    
    .witness-name {
        color: rgb(27, 7, 102);
        margin-top: -2rem;
        padding-left: .7rem;
        transform: rotate(0deg) skewY(0deg);
    }

}
@media (max-width: 33.5rem) {

    .testimony {
        width: 26rem;
    }
}

@media (max-width: 30rem) {


    .testimony {
        width: 24rem;
    }
}

@media (max-width: 26rem) {

    .testimony {
        width: 22rem;
    }
    .testimony-image {
        width: 13.5rem;
        height: 13.5rem;
    }
}

@media (max-width: 24rem) {
    .testimony {
        width: 20.8rem;
    }
    .testimony-image {
        width: 12.8rem;
        height: 12.8rem;
    }
}




/* BUILDING THE TEAM SECTION  */

.team-section {

    width: 100%;
    height: 75vh;
}

.team-main-heading {

    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-image: linear-gradient(
        to right,
        rgb(15, 3, 58),
        rgb(62, 10, 250)
              
    );
    color: transparent;
    padding-top: 2rem;
}

.team-container {

    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.team-card {

    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: .8rem .6rem 3rem rgba(0, 0, 0, .2);  
}


.team-card img {

    margin-top: 1.5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.team-member-name {

    text-transform: uppercase;
    padding-block: 1.2rem;
    color: rgb(27, 7, 102);
}

.team-member-title {

    text-transform: capitalize;
    padding-bottom: 1.4rem;
    color: rgb(72, 69, 69);
    font-size: 1rem;
}

.team-details {

    font-size: 1rem;
    line-height: 1.2;
    text-align: justify;
    padding-inline: 3rem;
    margin-bottom: 1.5rem;
}

.team-btn {

    width: 9rem;
    height: 2rem;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(52, 13, 195);
    margin-bottom: 1.3rem;

}

.team-btn-link {

    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* MAKING THE TEAM SECTION RESPONSIVE */

@media(max-width:75rem) {
    .team-card {
        width: 20rem;
    }
    .team-container {
        gap: 2rem;
    }
}

@media(max-width:68rem) {
    .team-card {
        width: 19rem;
    }
    .team-container {
        gap: 1.5rem;
    }
}
@media(max-width:63rem) {
    .team-section {
        margin-bottom: 2rem;
    }
    .team-card {
        width: 17.5rem;
    }
    .team-container {
        gap: 1.3rem;
    }
    .team-card img {
        margin-top: 1rem;
    }
    .team-member-name {
        font-size: 1.2rem;
    }
    .team-details {
        padding-inline: 2.5rem;
    }
}

@media(max-width:57rem) {

    .team-section {
        height: 115vh;
        margin-bottom: 3rem;
    }

    .team-main-heading {
        padding-bottom: 3rem;
    }

    .team-container {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        place-items: center;
        row-gap: 3rem;
        grid-row-gap: wrap;
    }

    .team-card {
        width: 22rem;
    }
}

@media(max-width: 51rem) {

    .team-section {
        height: 175vh;
        margin-bottom: 4rem;
    }
    .team-main-heading {
        padding-bottom: 6.5rem;
    }

    .team-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .team-card {
        width: 23rem;
    }
    .team-card img {
        width: 12rem;
        height: 12rem;
    }
}

@media(max-width: 38rem) {
    .team-section {
        height: 190vh;
        margin-bottom: 3rem;
    }
}
@media(max-width: 26rem) {
    .team-section {
        height: 195vh;
        margin-bottom: 3rem;
    }
    .team-card {
        width: 22rem;
    }
}
@media(max-width: 23.5rem) {
    .team-section {
        height: 220vh;
        margin-bottom: 3rem;
    }
    .team-card {
        width: 20.5rem;
    }
    .team-card img {
        width: 11.5rem;
        height: 11.5rem;
    }
}

@media(max-width: 23.5rem) {
    .team-section {
        height: 220vh;
        margin-bottom: 3rem;
    }
    .team-card {
        width: 19rem;
    }
}


/* STYLING THE FOOTER */

.footer {

    width: 100%;
    background-color: rgb(3, 2, 16);
    text-align: center;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-mission {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
}

.mission-heading {
    text-transform: capitalize;   
}

.mission-text {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
}

.footer-link-heading {
    padding-top: 3rem;
    text-transform: uppercase;
}
.social-logo {
    width: 2rem;
    padding: .2rem .3rem;
}

.social-logo-container {
    width: 3rem;
    background-color: white;
    border-radius: 4px;
   
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 4rem;
}

.footer-nav-bar {
    margin: 2rem;
}

.footer-nav-bar ul li:first-child {
    list-style: none;
    padding-bottom: 1rem;
}

.footer-nav-bar ul li:not(:first-child) {
    list-style: none;
    padding: 1rem 2rem; 

}

.footer-nav-bar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.footer-bottom {
    margin-top: .1rem;
}

.footer-bottom a{
    color: rgb(248, 248, 251);
    text-decoration: none;
    cursor: pointer;
    margin: 1rem;
}

/* MAKING THE FOOTER RESPONSIVE */

@media (max-width:66.4rem) {
    .footer-container {
        padding-block: -1rem;
    }
    .mission-text {
        font-size: 1rem;
        line-height: 1.5;
        text-align: justify;
    }

    .mission-content {
        padding-block: 2rem;
    }
}

@media (max-width:60rem) {

    .footer-bottom {
        margin-top: -2rem;
    }
}

@media (max-width:56.62rem) {

    .footer-bottom {
        margin-top: -2rem;
    }
}

@media (max-width:50rem) {

    .mission-content {
        margin-top: 1rem;
    }

     .mission-text {
        font-size: .9rem;
        line-height: 1.4;
        text-align: justify;
    }
    .footer-link-heading {
        padding-top: 1rem;
        font-size: 1.2rem;
    }  
    .footer-nav-bar ul li:first-child {
        list-style: none;
        padding-bottom: 1rem;
    }
    
    .footer-nav-bar ul li:not(:first-child) {
        padding: 1rem 1.5rem; 
    
    }

    .footer-nav-bar ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .8rem;
    }
}

@media (max-width:42.5rem) {

    .footer-container {
        flex-direction: column;
    }
    .footer-social-media {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-left: 3.2rem;
        margin-bottom: 2rem;
    }
    .footer-link {
        margin-bottom: -2.5rem;
    }   
}











